// HEADER
#header {
	padding: 100px 0 100px 0;
}

// POSTS
article {
	margin-bottom: 100px;
}

.titulo-do-post {
	color: @gray;
	font-size: 36px;
	line-height: 38px;
	a {
		color: @gray;
	}
}

.autor {
	color: @grayLight;
	text-transform: uppercase;
	margin-bottom: 7px;
}

// POST
.post-titulo {
	font-size: 42px;
	line-height: 44px;
	color: @gray;
}

.post-meta {
	font-size: 11px;
	font-weight: lighter;
	text-align: center;
	font-family: @sansFontFamily;
	margin-bottom: 30px;
}