!!!
%html{:lang => "en", :'xmlns:fb' => "http://ogp.me/ns/fb#"}
  %head
    = render '_meta.html'
  %body
    = render '_facebook.html'
    = render '_analytics.html'
    .container.bottom-space
      .clear
      = yield