!!!
%html{:lang => "en", :'xmlns:fb' => "http://ogp.me/ns/fb#"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "Sobre o que é o blog!"}
    = render '_meta.html'
  %body
    = render '_facebook.html'
    = render '_analytics.html'
    .container.bottom-space
      .clear
      = yield